
# Porta do sqlite-web
SQLITE_WEB_PORT=8080
# Caminho do arquivo SQLite (montado em volume)
DB_PATH=./data/db.sqlite3
# Pasta pública de imagens (será montada também para o backend depois)
PUBLIC_ASSETS=./public/assets
# Google Maps
GOOGLE_MAPS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# Endereço fixo da pizzaria (origem)
ORIGEM_PIZZARIA=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
